@import '../../scss/typography';
.display-2{
  @include font(poppins, normal, 700);
}
.section{
  &__start{
    margin-top:2em;
    height:30vh;
    display:grid;
    place-content: bottom;
    h1{
      align-self: flex-end;
    }
  }
}
h1{
  @include font(sweet-titling-no-22, normal, 700);
}
h2{
  @include font(poppins, italic, 700);
}
p, span, a, button{
  @include font(poppins, normal, 400);
  color: var(--color-dark);
  text-decoration: none;
}

.card-header{
  @include font(poppins, normal, 200);
}