@import '../../scss/typography';
@import '../../scss/abstracts';

h1{
  @include font(poppins, normal, 700, 4.8rem);
}
h2{
  @include font(sweet-titling-no-26, normal, 400, 20.8rem);
}
p, span, a, button{
  @include font(poppins, normal, 1 100, .8rem);
  color: var(--color-dark);
  text-decoration: none;
}
.color-accent-2{
  color: var(--color-accent-2);
}