@import '../../scss/typography';
@import '../../scss/abstracts';
.home-link{
  display:flex;
  flex-direction: column;
  text-decoration: none;
}
.cinema{
  @include font(sweet-titling-no-26, normal, 400);
  font-size:4rem;
  line-height: 1.1em;
}
.barn{
  @include font(sweet-titling-no-22, normal, 400);
  font-size:2.1rem;
  line-height:0;
}

// shared
.cinema, .barn{
  color: var(--color-dark);
}

.shadow-1{
  box-shadow:  $shadow-1;
}
