.login{
  &__container{
    display:flex;
    height: 100vh;
    width:100vw;
    justify-content: center;
    align-items: center;
  }
  &__form{
    padding: 1.5em;
    background-color: green;
    text-align: center;
    border-radius: 28px;
    background: #ffffff;
    box-shadow:  41px 41px 55px #ebebeb,
            -41px -41px 55px #ffffff;
    input{
      height: 2rem;
      margin: 2em 0;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
}
    button{
      width: 9em;
      height: 3em;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
    input, button{
      background: #ffffff;
      box-shadow: inset -45px -45px 90px #ededed, inset 45px 45px 90px #ffffff;
}
  }
  
}